In [2]:
import pandas as pd
import numpy as np

In [3]:
raw = pd.read_csv("Admission_Predict_Ver1_1.csv")

In [4]:
df = raw.copy()

In [5]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [8]:
df.corr()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.103839,-0.141696,-0.067641,-0.137352,-0.003694,-0.074289,-0.005332,0.008505
GRE Score,-0.103839,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,-0.141696,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,-0.067641,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,-0.137352,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,-0.003694,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,-0.074289,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,-0.005332,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.008505,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [9]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [10]:
X = df.drop(['Serial No.','Chance of Admit '],axis = 1)
y = df['Chance of Admit ']

- Split the entire data frame into X & Y parameters.
- Basically the X parameters are the Independent Variables and Y parameter is the Dependent Variable that we need to predict.
- Lets look at the X & Y variables.

In [11]:
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [12]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

- Now we need to split the data into train & test sets.
- We train our model with train set and verify the model with test set.
- Usually the train set should be higher than test set so that we get more data to for learning.
- Also the accuracy will be different for different split.
- Example splits are 60-40, 80-20 or even 73-27.
- You can just mention the test size so that the train set will be automatically the remaining.
- But hoew to select which rows for test?
- This split should be done randomly.
- sklearn has package train_test_split which allows us to split the data into train and test in a random manner.
- You can also control the randomness using the parameter random_state.
- If you and I use same int value for this parameter then we both will have a same set of test & train data for the same data set.
- test_size parameter takes value <= 1 i.e. 0.33, 0.4 to mention the percentage of data for test set.

In [28]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [30]:
X_train.shape

(300, 7)

In [31]:
X_test.shape

(200, 7)

- Now we are done with playing with data. 
- Lets get into the real game!
- Lets create a Linear Regression model to predict the Chance of Admit of a new student.
- sklearn provides a lots of packages for various algorithms.
- Here we are using LinearRegression() which creates a new object for this algorithm.
- with this object, we can fit our data and use this object to get the parameters of our model.

In [32]:
lr = LinearRegression()  #Object Created
lr.fit(X_train, y_train) #Data given into the LinearRegression object

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Done! Congratulations, you have created your first model.
Yes! Simple isn't it?
Lets see what we can get from this model!

In [18]:
lr.coef_

array([0.00145221, 0.00302388, 0.00809642, 0.00672185, 0.01318406,
       0.12002891, 0.02477235])

- These are the Coefficients (slopes) of the X Variables - GRE Score,TOEFL Score, University Rating, SOP, LOR, CGPA, Research.
- So 0.00174541 * GRE + 0.00280216 * TOEFL + 0.00675831 * University + 0.0061299 * SOP + 0.01492133 * LOR + 0.11902878 * CGPA + 0.01943883 * Research

In [19]:
lr.intercept_

-1.200250569689947

- This value is the Y Intercept
- So our Y line equation becomes,
- ChanceOfAdmit = -1.2567425309612157 + 0.00174541 * GRE + 0.00280216 * TOEFL + 0.00675831 * University + 0.0061299 * SOP + 0.01492133 * LOR + 0.11902878 * CGPA + 0.01943883 * Research
- What next? Lets test our model.
- Using the predict method of the lr object, by sending in the x_test values, we can predict the y_test values.
- As we already have the original y_test values, we can now validate our model.

In [20]:
predicted = lr.predict(X_test)

In [21]:
r2_score(y_test, predicted)

0.8251757711467193

- We have predicted Y values for test set and compared it with the true values using the r1_score function from the package sklearn.metrics
- Our model's accuracy is 0.8251757711467193.
- That means our predictions will be 82% correct.
- Lets check!

In [22]:
y_test.head(10)

18     0.63
361    0.93
104    0.74
4      0.65
156    0.70
350    0.74
32     0.91
205    0.57
81     0.96
414    0.72
Name: Chance of Admit , dtype: float64

In [23]:
print(predicted[0:10])

[0.74116361 0.91082451 0.81024774 0.62183042 0.64643854 0.69311918
 0.91233928 0.51828756 0.95333009 0.73419915]

Here we have predicted for the test data we had.
Lets predict for new data.

In [24]:
new_y = lr.predict([[347, 120, 4.5, 4.7, 4.7, 9.8, 1]])
print(new_y)

[0.99758071]

In [25]:
new_y = lr.predict([[250, 90, 2, 2.5, 4.7, 7, 1]])
print(new_y)

[0.39488945]

- Now you can see that most of our predictions are very close.

Conclusion:
    - We are done training and testing the Linear Regression model.

- In machine learning, training a model and testing it is definitely not an end.
- Should we run this sourcecode of pre-processing, training, tuning everything again to do predictions in future?
- No need!
- There are packages available to save your machine learning model into the file system and to load it whenever you want to reuse it!.
- There are 2 ways to store the model into file system:
    - Using Pickle package
    - Using joblib from sklearn.externals

- Steps to do it:
  - Save the model as a file
  - Load the model from the saved file
  - Use the loaded model to make predictions

- Now we have created a model.
- There are a cool way to keep the model alive and load it later to use.
- Store it in a file and save it. Anytime from anywhere load it and give input to predict values.

In [26]:
import pickle as pkl

In [27]:
filenm = 'LR_AdmissionPrediction.pickle'
#Create or open a file with write-binary mode and save the model to it
pickle = pkl.dump(lr, open(filenm, 'wb'))

#Open the saved file with read-binary mode and 
lr_pickle = pkl.load(open(filenm, 'rb'))

# Use the loaded model to make predictions 
lr_pickle.predict([[300,85,5,5,5,8,1]])

array([0.61745881])

In [38]:
# Save the model as a pickle string. 
saved_model = pkl.dumps(lr) 
  
# Load the saved model 
lr_from_pickle = pkl.loads(saved_model) 
  
# Use the loaded model to make predictions 
lr_from_pickle.predict([[300,85,5,5,5,8,1]])

array([0.61745881])

In [36]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(lr, 'filename.pkl') 
  
# Load the model from the file 
lr_from_joblib = joblib.load('filename.pkl')  
  
# Use the loaded model to make predictions 
lr_from_joblib.predict([[300,85,5,5,5,8,1]])

array([0.61745881])