# Analysing COVID-19 Data

In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
import math

import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [35]:
raw = pd.read_csv("COVID-19 Cases.csv")
#raw.head()

C:\Users\RAR\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
covid = raw.copy()
covid.head()

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.8182,8.2275,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
1,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.1264,33.4299,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
2,Confirmed,NaN,23,0,4/21/2020,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.0608,-61.7964,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
3,Deaths,NaN,0,0,2/11/2020,Jamaica,Jamaica,NaN,NaN,JM,JAM,NaN,18.1096,-77.2975,2961161.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
4,Confirmed,NaN,0,0,2/6/2020,Belize,Belize,NaN,NaN,BZ,BLZ,NaN,17.1899,-88.4976,397621.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [7]:
covid.isna().sum()

Case_Type                                    0
People_Total_Tested_Count               715728
Cases                                        0
Difference                                   0
Date                                         0
Combined_Key                                 0
Country_Region                               0
Province_State                           37128
Admin2                                   54264
iso2                                       408
iso3                                       204
FIPS                                     76092
Lat                                      21420
Long                                     21420
Population_Count                         21420
People_Hospitalized_Cumulative_Count    715728
Data_Source                                  0
Prep_Flow_Runtime                            0
dtype: int64

In [8]:
covid['Country_Region'].unique()

array(['Switzerland', 'Cyprus', 'Antigua and Barbuda', 'Jamaica',
       'Belize', 'Central African Republic', 'Netherlands',
       'United Kingdom', 'France', 'Poland', 'Canada', 'China',
       'Kazakhstan', 'South Sudan', 'Croatia', 'Chad', 'Hungary', 'Sudan',
       'Singapore', 'Bulgaria', 'Saint Lucia', 'Nepal', 'Peru',
       'United Arab Emirates', 'Sierra Leone', 'Brazil', 'Liechtenstein',
       'Pakistan', 'Equatorial Guinea', 'Thailand', 'Azerbaijan',
       'Bahrain', 'Kenya', 'Cabo Verde', 'Germany', 'Malta', 'Togo',
       'Montenegro', 'North Macedonia', 'Belarus', 'Tunisia',
       'Congo (Brazzaville)', 'Dominica', 'Austria', 'Paraguay',
       'Afghanistan', 'Angola', 'Yemen', 'Iraq', 'Brunei', 'Holy See',
       'Congo (Kinshasa)', 'Somalia', 'Botswana', 'New Zealand', 'Uganda',
       'Barbados', 'Djibouti', 'Norway', 'Kyrgyzstan', 'Sri Lanka',
       'Syria', 'Maldives', 'Georgia', 'Timor-Leste', 'El Salvador',
       'Mauritius', 'Oman', 'Rwanda', 'Bahamas', 'Mozambique', 'Monaco',
       'Morocco', 'Italy', 'Vietnam', 'Andorra', 'Albania', 'Ethiopia',
       'Guatemala', 'Seychelles', 'Argentina', 'Uruguay', 'Taiwan*',
       'Australia', 'West Bank and Gaza', 'Kosovo', 'Burkina Faso',
       'Guinea-Bissau', 'Guinea', 'Niger', 'Eritrea', 'Panama', 'Liberia',
       'Western Sahara', 'Kuwait', 'Ghana', 'Mongolia', 'Uzbekistan',
       'Fiji', 'Egypt', 'Ecuador', 'Mali', 'Romania',
       'Saint Kitts and Nevis', 'Armenia', 'Tanzania', 'Nigeria',
       'San Marino', 'Burma', 'Senegal', 'Slovakia', 'Lithuania',
       'Serbia', 'Qatar', 'Moldova', 'Cambodia', 'Ukraine', 'Japan',
       'Greece', 'Belgium', 'Mexico', 'Tajikistan', 'Haiti', 'Colombia',
       'Malaysia', 'Zimbabwe', 'Bhutan', 'Luxembourg', 'Denmark',
       'Burundi', 'Trinidad and Tobago', 'Dominican Republic', 'Grenada',
       'Latvia', 'India', 'Nicaragua', 'Cameroon',
       'Bosnia and Herzegovina', 'Saint Vincent and the Grenadines',
       'Guyana', 'Saudi Arabia', 'Cuba', 'Russia', 'Iran',
       'Sao Tome and Principe', "Cote d'Ivoire", 'Papua New Guinea',
       'Mauritania', 'Eswatini', 'Indonesia', 'Israel', 'Korea, South',
       'Philippines', 'Bolivia', 'Venezuela', 'Laos', 'Iceland',
       'Namibia', 'Honduras', 'Sweden', 'Slovenia', 'South Africa',
       'Libya', 'Spain', 'Costa Rica', 'Benin', 'Malawi', 'Czechia',
       'Estonia', 'Cruise Ship', 'Comoros', 'Jordan', 'Bangladesh',
       'Chile', 'Finland', 'Turkey', 'Zambia', 'Madagascar', 'Lebanon',
       'Portugal', 'Gambia', 'Ireland', 'Algeria', 'Gabon', 'Suriname',
       'US'], dtype=object)

In [10]:
covid.sort_values(by=['Date'],inplace=True)
covid.head()

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
718079,Confirmed,NaN,0,0,1/22/2020,"Pierce, North Dakota, US",US,North Dakota,Pierce,US,USA,38069.0,48.249770,-99.964078,3975.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
673151,Deaths,NaN,0,0,1/22/2020,"Morris, Texas, US",US,Texas,Morris,US,USA,48343.0,33.113040,-94.732557,12388.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
673152,Confirmed,NaN,0,0,1/22/2020,"Hillsdale, Michigan, US",US,Michigan,Hillsdale,US,USA,26059.0,41.887536,-84.593120,45605.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
673153,Confirmed,NaN,0,0,1/22/2020,"Ford, Kansas, US",US,Kansas,Ford,US,USA,20057.0,37.692001,-99.888253,33619.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
673154,Confirmed,NaN,0,0,1/22/2020,"Washington, Illinois, US",US,Illinois,Washington,US,USA,17189.0,38.353092,-89.409827,13887.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [11]:
covid.tail()

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
354220,Confirmed,NaN,5,0,5/2/2020,"Carbon, Wyoming, US",US,Wyoming,Carbon,US,USA,56007.0,41.693578,-106.932608,14800.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
406396,Confirmed,NaN,9,0,5/2/2020,"Breckinridge, Kentucky, US",US,Kentucky,Breckinridge,US,USA,21027.0,37.773772,-86.428850,20477.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
698205,Confirmed,NaN,3,0,5/2/2020,"Hamilton, New York, US",US,New York,Hamilton,US,USA,36041.0,43.661466,-74.497220,4416.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
314678,Deaths,NaN,0,0,5/2/2020,"Breckinridge, Kentucky, US",US,Kentucky,Breckinridge,US,USA,21027.0,37.773772,-86.428850,20477.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
448777,Deaths,NaN,74,3,5/2/2020,"El Paso, Colorado, US",US,Colorado,El Paso,US,USA,8041.0,38.832401,-104.525141,720403.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [12]:
covid.describe()

,People_Total_Tested_Count,Cases,Difference,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count
count,2352.000000,718080.000000,718080.000000,641988.000000,696660.000000,696660.000000,6.966600e+05,2352.000000
mean,81998.648810,119.219155,5.112238,30335.484906,37.126733,-83.343770,2.261694e+06,2043.231293
std,120057.136946,2786.694174,111.799217,15196.100174,9.706925,38.826489,2.661671e+07,7524.910914
min,3.000000,0.000000,-10034.000000,60.000000,-51.796300,-170.132000,8.600000e+01,0.000000
25%,17375.000000,0.000000,0.000000,18169.000000,34.068548,-97.698949,1.202300e+04,45.000000
50%,44501.000000,0.000000,0.000000,29171.000000,38.159655,-89.201401,2.970900e+04,402.000000
75%,93964.750000,0.000000,0.000000,45079.000000,41.772338,-81.923085,9.794700e+04,1412.000000
max,959071.000000,216582.000000,26843.000000,56045.000000,71.706900,178.065000,1.380004e+09,67890.000000

In [18]:
covid.dtypes

Case_Type                                object
People_Total_Tested_Count               float64
Cases                                     int64
Difference                                int64
Date                                     object
Combined_Key                             object
Country_Region                           object
Province_State                           object
Admin2                                   object
iso2                                     object
iso3                                     object
FIPS                                    float64
Lat                                     float64
Long                                    float64
Population_Count                        float64
People_Hospitalized_Cumulative_Count    float64
Data_Source                              object
Prep_Flow_Runtime                        object
dtype: object

In [37]:
covid['Date'] = covid['Date'].astype('datetime64')

In [38]:
covid.dtypes

Case_Type                                       object
People_Total_Tested_Count                      float64
Cases                                            int64
Difference                                       int64
Date                                    datetime64[ns]
Combined_Key                                    object
Country_Region                                  object
Province_State                                  object
Admin2                                          object
iso2                                            object
iso3                                            object
FIPS                                           float64
Lat                                            float64
Long                                           float64
Population_Count                               float64
People_Hospitalized_Cumulative_Count           float64
Data_Source                                     object
Prep_Flow_Runtime                               object
dtype: object

In [30]:
covid.isna().sum()

Case_Type                                    0
People_Total_Tested_Count               715728
Cases                                        0
Difference                                   0
Date                                         0
Combined_Key                                 0
Country_Region                               0
Province_State                           37128
Admin2                                   54264
iso2                                       408
iso3                                       204
FIPS                                     76092
Lat                                      21420
Long                                     21420
Population_Count                         21420
People_Hospitalized_Cumulative_Count    715728
Data_Source                                  0
Prep_Flow_Runtime                            0
Tested Percentage                       717870
dtype: int64

In [33]:
coivd.groupby(by='Date')

NameError: name 'coivd' is not defined

## Test Percentage analysis
We need only the columns having values for this analysis
Dropping na and assign it to new DataFrame

In [52]:
TestPer = covid.loc[:,['People_Total_Tested_Count','Population_Count','Country_Region']]
TestPer.head()

   People_Total_Tested_Count  Population_Count       Country_Region
0                        NaN         8654618.0          Switzerland
1                        NaN         1207361.0               Cyprus
2                        NaN           97928.0  Antigua and Barbuda
3                        NaN         2961161.0              Jamaica
4                        NaN          397621.0               Belize

In [53]:
TestPer.Country_Region.unique()

array(['Switzerland', 'Cyprus', 'Antigua and Barbuda', 'Jamaica',
       'Belize', 'Central African Republic', 'Netherlands',
       'United Kingdom', 'France', 'Poland', 'Canada', 'China',
       'Kazakhstan', 'South Sudan', 'Croatia', 'Chad', 'Hungary', 'Sudan',
       'Singapore', 'Bulgaria', 'Saint Lucia', 'Nepal', 'Peru',
       'United Arab Emirates', 'Sierra Leone', 'Brazil', 'Liechtenstein',
       'Pakistan', 'Equatorial Guinea', 'Thailand', 'Azerbaijan',
       'Bahrain', 'Kenya', 'Cabo Verde', 'Germany', 'Malta', 'Togo',
       'Montenegro', 'North Macedonia', 'Belarus', 'Tunisia',
       'Congo (Brazzaville)', 'Dominica', 'Austria', 'Paraguay',
       'Afghanistan', 'Angola', 'Yemen', 'Iraq', 'Brunei', 'Holy See',
       'Congo (Kinshasa)', 'Somalia', 'Botswana', 'New Zealand', 'Uganda',
       'Barbados', 'Djibouti', 'Norway', 'Kyrgyzstan', 'Sri Lanka',
       'Syria', 'Maldives', 'Georgia', 'Timor-Leste', 'El Salvador',
       'Mauritius', 'Oman', 'Rwanda', 'Bahamas', 'Mozambique', 'Monaco',
       'Morocco', 'Italy', 'Vietnam', 'Andorra', 'Albania', 'Ethiopia',
       'Guatemala', 'Seychelles', 'Argentina', 'Uruguay', 'Taiwan*',
       'Australia', 'West Bank and Gaza', 'Kosovo', 'Burkina Faso',
       'Guinea-Bissau', 'Guinea', 'Niger', 'Eritrea', 'Panama', 'Liberia',
       'Western Sahara', 'Kuwait', 'Ghana', 'Mongolia', 'Uzbekistan',
       'Fiji', 'Egypt', 'Ecuador', 'Mali', 'Romania',
       'Saint Kitts and Nevis', 'Armenia', 'Tanzania', 'Nigeria',
       'San Marino', 'Burma', 'Senegal', 'Slovakia', 'Lithuania',
       'Serbia', 'Qatar', 'Moldova', 'Cambodia', 'Ukraine', 'Japan',
       'Greece', 'Belgium', 'Mexico', 'Tajikistan', 'Haiti', 'Colombia',
       'Malaysia', 'Zimbabwe', 'Bhutan', 'Luxembourg', 'Denmark',
       'Burundi', 'Trinidad and Tobago', 'Dominican Republic', 'Grenada',
       'Latvia', 'India', 'Nicaragua', 'Cameroon',
       'Bosnia and Herzegovina', 'Saint Vincent and the Grenadines',
       'Guyana', 'Saudi Arabia', 'Cuba', 'Russia', 'Iran',
       'Sao Tome and Principe', "Cote d'Ivoire", 'Papua New Guinea',
       'Mauritania', 'Eswatini', 'Indonesia', 'Israel', 'Korea, South',
       'Philippines', 'Bolivia', 'Venezuela', 'Laos', 'Iceland',
       'Namibia', 'Honduras', 'Sweden', 'Slovenia', 'South Africa',
       'Libya', 'Spain', 'Costa Rica', 'Benin', 'Malawi', 'Czechia',
       'Estonia', 'Cruise Ship', 'Comoros', 'Jordan', 'Bangladesh',
       'Chile', 'Finland', 'Turkey', 'Zambia', 'Madagascar', 'Lebanon',
       'Portugal', 'Gambia', 'Ireland', 'Algeria', 'Gabon', 'Suriname',
       'US'], dtype=object)

In [54]:
TestPer.isna().sum()

People_Total_Tested_Count    715728
Population_Count              21420
Country_Region                    0
dtype: int64

In [55]:
TestPer.dropna(subset=['People_Total_Tested_Count'],inplace = True)
TestPer.isna().sum()
TestPer.dropna(subset=['Population_Count'],inplace = True)
TestPer.isna().sum()

People_Total_Tested_Count    0
Population_Count             0
Country_Region               0
dtype: int64

In [56]:
TestPer.Country_Region.unique()

array(['US'], dtype=object)

In [51]:
grp = TestPer.groupby(by='Country_Region').agg({np.sum})
grp

               People_Total_Tested_Count Population_Count Tested Percentage
                                     sum              sum               sum
Country_Region
US                              496980.0      139258980.0         88.591392

In [58]:
grp['Tested Percentage'] = (grp['People_Total_Tested_Count']/grp['Population_Count'])*100
grp.head()

               People_Total_Tested_Count Population_Count Tested Percentage
                                     sum              sum               sum
Country_Region
US                              496980.0      139258980.0          0.356875

#### Only the US has given the data on number of people tested

In [ ]:
grp = covid.groupby(by='Date').agg({np.sum})

In [ ]:
grp