In [195]:
import pandas as pd
import numpy as np

In [196]:
train_dict = pd.read_csv("train_data_dict.csv")

In [197]:
train_dict

,Column,Description
0,case_id,Case_ID registered in Hospital
1,Hospital_code,Unique code for the Hospital
2,Hospital_type_code,Unique code for the type of Hospital
3,City_Code_Hospital,City Code of the Hospital
4,Hospital_region_code,Region Code of the Hospital
5,Available Extra Rooms in Hospital,Number of Extra rooms available in the Hospital
6,Department,Department overlooking the case
7,Ward_Type,Code for the Ward type
8,Ward_Facility_Code,Code for the Ward Facility
9,Bed Grade,Condition of Bed in the Ward
10,patientid,Unique Patient Id
11,City_Code_Patient,City Code for the patient
12,Type of Admission,Admission Type registered by the Hospital
13,Severity of Illness,Severity of the illness recorded at the time o...
14,Visitors with Patient,Number of Visitors with the patient
15,Age,Age of the patient
16,Admission_Deposit,Deposit at the Admission Time
17,Stay,Stay Days by the patient

In [198]:
train = pd.read_csv("train.csv")

In [199]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [200]:
train.shape

(318438, 18)

In [201]:
Val = train.iloc[288400:]
df = train.iloc[:288400]

In [202]:
for predictor in train.columns:
    print(predictor, end = ': ')
    print(len(train[predictor].unique()))

case_id: 318438
Hospital_code: 32
Hospital_type_code: 7
City_Code_Hospital: 11
Hospital_region_code: 3
Available Extra Rooms in Hospital: 18
Department: 5
Ward_Type: 6
Ward_Facility_Code: 6
Bed Grade: 5
patientid: 92017
City_Code_Patient: 38
Type of Admission: 3
Severity of Illness: 3
Visitors with Patient: 28
Age: 10
Admission_Deposit: 7300
Stay: 11

In [203]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [204]:
for predictor in train.columns:
    print('\n\n',predictor, end = ': ')
    print('\n',train[predictor].value_counts())

 case_id:
 2047      1
107105    1
31322     1
29275     1
19036     1
         ..
21920     1
23969     1
17826     1
19875     1
2049      1
Name: case_id, Length: 318438, dtype: int64


 Hospital_code:
 26    33076
23    26566
19    21219
6     20425
11    17328
14    17328
28    17137
27    14244
9     11510
29    11311
12    11297
32    10703
25     9834
10     9435
15     9257
21     8150
24     7992
3      7116
17     5501
5      5261
1      5249
13     5236
2      5102
30     5002
22     4277
31     3967
16     3671
8      3663
18     3630
20     1405
7      1306
4      1240
Name: Hospital_code, dtype: int64


 Hospital_type_code:
 a    143425
b     68946
c     45928
e     24770
d     20389
f     10703
g      4277
Name: Hospital_type_code, dtype: int64


 City_Code_Hospital:
 1     55351
2     51809
6     46991
7     35463
3     31569
5     31105
9     26277
11    17137
4     13857
10     5249
13     3630
Name: City_Code_Hospital, dtype: int64


 Hospital_region_code:
 X    133336
Y    122428
Z     62674
Name: Hospital_region_code, dtype: int64


 Available Extra Rooms in Hospital:
 2     98311
4     91709
3     91520
5     19288
6      7786
1      5582
7      2876
8      1027
9       218
10       67
11       17
0        15
12       13
21        3
13        2
20        2
14        1
24        1
Name: Available Extra Rooms in Hospital, dtype: int64


 Department:
 gynecology            249486
anesthesia             29649
radiotherapy           28516
TB & Chest disease      9586
surgery                 1201
Name: Department, dtype: int64


 Ward_Type:
 R    127947
Q    106165
S     77794
P      5046
T      1477
U         9
Name: Ward_Type, dtype: int64


 Ward_Facility_Code:
 F    112753
E     55351
D     51809
C     35463
B     35156
A     27906
Name: Ward_Facility_Code, dtype: int64


 Bed Grade:
 2.0    123671
3.0    110583
4.0     57566
1.0     26505
Name: Bed Grade, dtype: int64


 patientid:
 66714     50
91292     43
38525     39
101359    36
33491     34
          ..
63360      1
85687      1
89781      1
97969      1
58524      1
Name: patientid, Length: 92017, dtype: int64


 City_Code_Patient:
 8.0     124011
2.0      38869
1.0      26377
7.0      23807
5.0      20079
4.0      15380
9.0      11795
15.0      8950
10.0      8174
6.0       6005
12.0      5647
3.0       3772
23.0      3698
14.0      2927
16.0      2254
13.0      1625
21.0      1602
20.0      1409
18.0      1404
19.0      1028
26.0      1023
25.0       798
27.0       771
11.0       658
28.0       521
22.0       405
24.0       360
30.0       133
29.0        98
33.0        78
31.0        59
37.0        57
32.0        52
34.0        46
35.0        16
36.0        12
38.0         6
Name: City_Code_Patient, dtype: int64


 Type of Admission:
 Trauma       152261
Emergency    117676
Urgent        48501
Name: Type of Admission, dtype: int64


 Severity of Illness:
 Moderate    175843
Minor        85872
Extreme      56723
Name: Severity of Illness, dtype: int64


 Visitors with Patient:
 2     138417
4      79225
3      59180
6      18860
5       9219
8       4872
7       2504
9       1358
1       1207
10      1183
12       968
11       327
16       286
14       207
15       194
13       106
24        78
20        62
18        61
0         22
17        20
22        19
19        12
25        12
21        11
23        10
30         9
32         9
Name: Visitors with Patient, dtype: int64


 Age:
 41-50     63749
31-40     63639
51-60     48514
21-30     40843
71-80     35792
61-70     33687
11-20     16768
81-90      7890
0-10       6254
91-100     1302
Name: Age, dtype: int64


 Admission_Deposit:
 4469.0    390
4277.0    377
4624.0    350
4789.0    302
4970.0    286
         ...
9571.0      1
8724.0      1
1855.0      1
2109.0      1
7881.0      1
Name: Admission_Deposit, Length: 7300, dtype: int64


 Stay:
 21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

In [205]:
df.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

Plan:

Label Encoding Columns - Ordered:
Severity of Illness

City_Code_Patient:
Change the CityCode to Other if count is < 1000 


# Hospital Code grouping by value_counts
<6000 - A
>6000 & <10,000 - B
>1000 & <20,000 - C
>20000 & <25,000 - D
>25000 - E


Age:
Find mean of upper and lower limit
OR
Split Age into 2 columns 1. Age_LowerLimit 2. Age_UpperLimit

One Hot encodings:
Type of Admission

City_Code_Patient

Ward_Facility_Code
Ward_Type
Department

City_Code_Hospital
Hospital_region_code
Hospital_type_code
Hospital_code


Using PatientId and CaseId create a new column named Single Visit or Revisited (SingleVisited/Revisited)
Using PatientId and CaseId create a new column named isFirstVisit (yes/no)

In [206]:
def Labelencode_transform(column, encodeDict):
    for idx, item in enumerate(column):
        for di in encodeDict:
            if item == di:
                column[idx] = encodeDict[di]
    return column

In [207]:
column_nm = df['Severity of Illness']
encodeDict = {'Minor': 1,'Moderate':2,'Extreme':3}

Labelencode_transform(column_nm, encodeDict)

C:\Users\aasha\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\aasha\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

KeyboardInterrupt:

In [ ]:
df[['Severity of Illness']]

In [ ]:
#City_Code_Patient:
#Change the CityCode to Other if value_count is < 1000

def parse_PatCity_Values(x):
    if df['City_Code_Patient'].value_counts()[x] < 1000:
        return 'Others'

In [ ]:
df['City_Code_Patient'].isna().sum()

4

In [56]:
grp = train.groupby(['patientid','case_id','Hospital_code','City_Code_Hospital'])['Stay'].count().reset_index()
grp

        patientid  case_id  Hospital_code  City_Code_Hospital  Stay
0               1   254953             26                   2     1
1               1   254954              3                   3     1
2               1   254955             27                   7     1
3               1   254956             22                   9     1
4               2    71207             21                   3     1
...           ...      ...            ...                 ...   ...
318433     131623   270877             27                   7     1
318434     131623   270878             23                   6     1
318435     131624   199912              6                   6     1
318436     131624   199913             26                   2     1
318437     131624   199914             25                   1     1

[318438 rows x 5 columns]

In [69]:
grp = train.groupby(['patientid'])['Stay'].count().reset_index()
patidList = grp.loc[grp['Stay'] == 1,'patientid']
patidList

train.loc[train['patientid'].isin(patidList), 
          train.columns.isin(['patientid','Severity of Illness','Stay'])]['Stay'].value_counts()

21-30                 5436
11-20                 4586
31-40                 3668
51-60                 2138
41-50                 1333
0-10                  1300
71-80                  683
More than 100 Days     409
81-90                  300
61-70                  286
91-100                 210
Name: Stay, dtype: int64

In [41]:
train.loc[train['patientid'].isin([91292]), 
          train.columns.isin(['Hospital_type_code','Ward_Type','Ward_Facility_Code', 'Bed Grade',
                                                          'Department', 'Severity of Illness','Age','Stay'])].head()

,Hospital_type_code,Department,Ward_Type,Ward_Facility_Code,Bed Grade,Severity of Illness,Age,Stay
250264,a,gynecology,S,C,2.0,Moderate,51-60,More than 100 Days
250265,a,gynecology,S,C,2.0,Moderate,51-60,More than 100 Days
250266,a,gynecology,S,C,2.0,Moderate,51-60,More than 100 Days
250267,a,gynecology,S,C,2.0,Moderate,51-60,More than 100 Days
250268,a,radiotherapy,R,F,2.0,Moderate,51-60,0-10

In [80]:
wardGrp = train.groupby(['Hospital_code','Hospital_type_code','City_Code_Hospital',
                         'Hospital_region_code']).count().reset_index()

In [86]:
wardGrp.head(10)

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,case_id,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,d,10,Y,5249,5249,5249,5249,5249,5249,5249,5188,5249,5249,5249,5249,5249,5249
1,2,c,5,Z,5102,5102,5102,5102,5102,5102,5102,5050,5102,5102,5102,5102,5102,5102
2,3,c,3,Z,7116,7116,7116,7116,7116,7116,7116,7030,7116,7116,7116,7116,7116,7116
3,4,a,4,X,1240,1240,1240,1240,1240,1240,1240,1216,1240,1240,1240,1240,1240,1240
4,5,a,1,X,5261,5261,5261,5261,5261,5261,5261,5143,5261,5261,5261,5261,5261,5261
5,6,a,6,X,20425,20425,20425,20425,20425,20316,20425,20125,20425,20425,20425,20425,20425,20425
6,7,a,4,X,1306,1306,1306,1306,1306,1303,1306,1272,1306,1306,1306,1306,1306,1306
7,8,c,3,Z,3663,3663,3663,3663,3663,3663,3663,3611,3663,3663,3663,3663,3663,3663
8,9,d,5,Z,11510,11510,11510,11510,11510,11510,11510,11381,11510,11510,11510,11510,11510,11510
9,10,e,1,X,9435,9435,9435,9435,9435,9435,9435,9271,9435,9435,9435,9435,9435,9435

In [85]:
train['Hospital_code'].sort_values().value_counts()

26    33076
23    26566
19    21219
6     20425
11    17328
14    17328
28    17137
27    14244
9     11510
29    11311
12    11297
32    10703
25     9834
10     9435
15     9257
21     8150
24     7992
3      7116
17     5501
5      5261
1      5249
13     5236
2      5102
30     5002
22     4277
31     3967
16     3671
8      3663
18     3630
20     1405
7      1306
4      1240
Name: Hospital_code, dtype: int64

# Hospital Code grouping by value_counts
<6000 - A
>6000 & <10,000 - B
>1000 & <20,000 - C
>20000 & <25,000 - D
>25000 - E

In [95]:
import category_encoders as ce
import numpy as np

ordinal_cols = [
    "Severity of Illness",
]

ordinal_cols_mapping = [{   
    "mapping": [
        ('Minor',1), 
        ('Moderate',2), 
        ('Extreme',3)
    ]},
]

encoder = ce.OrdinalEncoder(mapping = ordinal_cols_mapping, return_df = True, cols = ordinal_cols)

In [96]:

train_encoded1 = encoder.fit_transform(train)

KeyError: None

In [124]:
print(encode_transform(column = train['Severity of Illness'], encodeDict = {'Minor': 1,'Moderate':2,'Extreme':3}))

C:\Users\aasha\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0         3
1         3
2         3
3         3
4         3
         ..
318433    2
318434    2
318435    1
318436    1
318437    1
Name: Severity of Illness, Length: 318438, dtype: object

In [126]:
column = train['Severity of Illness']
encodeDict = {'Minor': 1,'Moderate':2,'Extreme':3}

for idx, item in enumerate(column):
    for di in encodeDict:
        if item == di:
            column[idx] = encodeDict[di]
            
print(column)

0         3
1         3
2         3
3         3
4         3
         ..
318433    2
318434    2
318435    1
318436    1
318437    1
Name: Severity of Illness, Length: 318438, dtype: object

In [107]:
dicto = {'A': 1,'B':2,'C':3}

for di in dicto:
    print(dicto[di])

1
2
3

In [115]:
columns = ['A','B','C','A','B','A']

for item, idx in enumerate(columns):
    for di in encodeDict:
        if item == di:
            columns[idx] = encodeDict[di]

NameError: name 'encodeDict' is not defined