In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
import math

import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [2]:
df = pd.DataFrame({'BORDER':['GERMANY','FRANCE','ITALY','GERMANY','FRANCE','ITALY','GERMANY','FRANCE','ITALY' ], 'HOUR1':[2 ,2 ,2 ,4 ,4 ,4 ,6 ,6, 6],'HOUR2':[3 ,3 ,3, 5 ,5 ,5, 7, 7, 7], 'HOUR3':[8 ,8 ,8, 12 ,12 ,12, 99, 99, 99]}, index=s)

NameError: name 'OrderedDict' is not defined

In [8]:
d = pd.DataFrame({"Date": ['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25'],'Country':['US', 'Italy', 'Canada', 'Brazil'],'count':  [1, 2, 3, 4],'EU': [1.1, 2.2, 3.3, 4.4]})

p = d.pivot_table(index='Date', columns='Country', values='count', aggfunc=np.sum)

In [9]:
d.head()

         Date Country  count   EU
0  2020-01-22      US      1  1.1
1  2020-01-23   Italy      2  2.2
2  2020-01-24  Canada      3  3.3
3  2020-01-25  Brazil      4  4.4

In [10]:
p

Country     Brazil  Canada  Italy   US
Date
2020-01-22     NaN     NaN    NaN  1.0
2020-01-23     NaN     NaN    2.0  NaN
2020-01-24     NaN     3.0    NaN  NaN
2020-01-25     4.0     NaN    NaN  NaN